
<form method="post">
    <input name="prenom" placeholder="Prénom"></input>
    <input name="nom" placeholder="Nom"></input>
	<input name="email" placeholder="email"></input>
	<input name="dateNaiss" placeholder="date de naissance"></input>
	<input name="tel" placeholder="tel"></input>
    <input type="submit" />
</form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
			<th>email</th>
			<th>Date de naissance</th>
			<th>Téléphone</th>
			<th>Modifier</th>
			<th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="pers : ${personnes}">
            <td data-th-text="${pers.id}"></td>
            <td data-th-text="${pers.prenom}"></td>
            <td data-th-text="${pers.nom}"></td>
			<td data-th-text="${pers.email}"></td>
			<td data-th-text="${pers.dateNaiss}"></td>
			<td data-th-text="${pers.tel}"></td>
        </tr>
    </tbody>
</table>
